################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

.vs/digital-docs-wpf/v15/Server/sqlite3/db.lock
.vs/
digital-docs/bin/
digital-docs/obj/
